{
    "presets":[
        "@babel/preset-env",  //ES6语法
        "@babel/preset-react"  //react语法
    ],
    "plugins":[
        ["@babel/plugin-proposal-decorators", {"legacy": true}], //装饰器语法插件
        [   //babel-runtime插件
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 2,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]            
    ]
}